<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        @ViewData["Title"]
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2025</strong> Todos los derechos reservados.
</footer>