<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] | @ViewData["SubTitle"]</title>

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/public/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/public/dist/css/adminlte.min.css">
    <!-- jQuery -->
    <script src="~/public/plugins/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/public/dist/js/adminlte.min.js"></script>
    <!-- Controlar Cache -->
    <script src="~/js/ControlCache.js"></script>

</head>
<body class="hold-transition sidebar-mini">
    <!-- wrapper -->
    <div class="wrapper">

        @await Html.PartialAsync("_Navbar")
        @await Html.PartialAsync("_MainSidebar")
        @RenderBody()
        @await Html.PartialAsync("_ControlSidebar")
        @await Html.PartialAsync("_Footer")

        @await Html.PartialAsync("~/Views/Common/Toast.cshtml")

    </div>
    <!-- ./wrapper -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

        @* 
        <partial name="_Navbar" model="Model"  />
        <partial name="_MainSidebar" model="Model"  />
        @RenderBody()
        <partial name="_ControlSidebar" model="Model"  />
        <partial name="_Footer" model="Model"  /> 

        <partial name="~/Views/Common/Toast.cshtml" />
        *@