@{
    ViewData["SubTitle"] = "En construcci칩n";
    Layout = "_Layout";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>춰En Desarrollo!</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Inicio</a></li>
                        <li class="breadcrumb-item active">En Desarrollo</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-info"> 游뚾 </h2>

            <div class="error-content">
                <h3><i class="fas fa-tools text-info"></i> Esta secci칩n est치 en construcci칩n.</h3>

                <p>
                    Estamos trabajando para traerte esta funcionalidad muy pronto. 
                    Mientras tanto, puedes <a href="@Url.Action("Index", "Dashboard")">volver al inicio</a> o explorar otras secciones disponibles.
                </p>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
